.burger {
    background-color: darkmagenta;
    text-align: center;
}
.bar-bq {
    background-color: darkmagenta;
    text-align: center;
}
.rice {
    background-color: darkmagenta;
    text-align: center;
}
.topping {
    background-color: darkmagenta;
    text-align: center;
}